@import url("https://fonts.googleapis.com/css?family=Comfortaa");
* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
  font-size: 13px;
}
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 35vh;
  margin-bottom: 20px;
  transition: 0.7s ease-out;
}
.App-header.loaded {
  height: 80px;
  flex-direction: row;
  justify-content: center;
}

.App-header.loaded .logo {
  width: 80px;
  height: 65px;
}
.logo {
  width: 240px;
  height: 100px;
}
.search-field {
  width: 75vw;
  padding: 8px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  box-shadow: 0px 0px 1px 2px inset #939;
}
.search-field:focus {
  box-shadow: 0px 0px 1px 2px inset #ccc;
  border-bottom: 4px solid #939;
}
.search-btn {
  position: absolute;
  z-index: 5;
  padding: 8px;
  border-radius: 10px;
  background: lavender;
  margin: 4px -38px;
  border: none;
  outline: none;
}
.search-field.small {
  width: 100%;
  margin-bottom: 8px;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 5px;
  max-width: 300px;
}
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
}
.favourites {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 35%;
  width: 95%;
  margin: 5px 20px;
  word-break: break-all;
  text-align: left;
}
.favourites .list-songs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.results-hidden {
  display: none;
}
.results {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 10px;
  min-width: 60%;
  word-break: break-all;
  text-align: left;
}
.results .list-songs {
  width: 98%;
  transition: 0.5s ease-in;
}
.favourites .song {
  max-width: 400px;
}
.results h2,
.favourites h2 {
  font-size: 1.4em;
}
.song {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid indigo;
  background: linear-gradient(to right, #ddf 30%, #eef 50%, #fff 60%);
  color: indigo;
  margin-bottom: 10px;
  margin-right: 5px;
  width: 90%;
  box-shadow: 0px 0px 10px -2px black;
}
.song h2,
h4 {
  margin: 2px;
}
.song h2 {
  font-size: 1.3em;
}
.song h4 {
  font-size: 0.9em;
}
.song-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.star-btn {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: 2px;
}
.star-btn input {
  opacity: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 5;
}
.star-btn .star-wrapper::after {
  width: 50px;
  height: 50px;
  background: url("./star.png");
  position: absolute;
  content: "";
  display: block;
}
.star-btn input:checked ~ .star-wrapper {
  width: 50px;
  height: 50px;
  background-color: gold;
}

.loader {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

@keyframes load5 {
  40% {
    transform: rotatez(-180deg);
    border-width: 16px;
  }
  80% {
    transform: rotatez(-360deg);
  }
  100% {
    transform: rotatez(-360deg);
  }
}
.loader5::before {
  content: "";
  color: white;
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  border: 10px dotted indigo;
  border-left-color: transparent;
  animation: load5 1s infinite ease-in-out;
}
a {
  text-decoration: none;
  color: inherit;
}
ul.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
ul.pagination li {
  padding: 6px 10px;
  text-align: center;
  background: #eee;
  font-size: 15px;
  font-weight: bold;
  margin: 1.5px;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 1px grey;
  cursor: pointer;
}
ul.pagination li:hover {
  background: #ddf;
}
ul.pagination li.active {
  background: indigo;
  color: white;
}
ul.pagination li.disabled {
  color: grey;
}
@media (max-width: 500px) {
  .main-content {
    flex-direction: column-reverse;
  }
  .results,
  .favourites {
    width: 100%;
    margin-left: 5%;
    word-break: break-all;
    text-align: left;
  }
  .star-btn {
    transform: scaleZ(0.6);
    transform-origin: center center;
  }
}
